.scrollControl {
    border:1px solid #AAAAAA;
    border-radius: 7px;
    height:150px;
    position:fixed;
    width:25px;
    background-color : #666;
    z-index: 99999;
    opacity: 100;
}
#upcontrol {
    background-image : url('chrome-extension://__MSG_@@extension_id__/img/up.gif');
    background-repeat:no-repeat;
    background-position:center;
}
#downcontrol {
    -webkit-transform: rotate(180deg);
    background-image : url('chrome-extension://__MSG_@@extension_id__/img/up.gif');
    background-repeat:no-repeat;
    background-position:center;
}
.scrollControl:hover {
    background-color : #333;
}
